{% extends 'base_site.html' %}

{% block title %}
Dashboard | UniSync
{% endblock title %}

{% block content %}
    <!-- begin: container -->
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900">Dashboard</h1>
                <div class="flex items-center gap-2 text-sm font-medium text-gray-600">Central Hub for Personal Customization</div>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <!-- begin: container -->
    <div class="container-fixed">
        
        {% for student in students %}
            <p class="text-white mb-2">{{ student.user.get_full_name }} <a href="{% url 'complete_admission' student.user.get_hash_id %}" class="text-primary">Complete Admission</a></p> 
        {% endfor %}
            
    </div>
    <!-- end: container -->
    
{% endblock content %}