{% extends 'base_site.html' %}

{% block title %}New Admission | Unisync{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <a href="{% url 'dashboard' %}" class="text-gray-600 hover:text-primary">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">New Admission</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <form method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">General Info</h3>
                </div>
                <div class="card-body">
                    <div class="grid grid-cols-2 gap-5">
                        <div class="col-span-1">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label mb-2">{{ form.first_name.label }}<span class="text-danger">*</span></label>
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="col-span-1">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label mb-2">{{ form.last_name.label }}<span class="text-danger">*</span></label>
                            {{ form.last_name }}
                            {{ form.last_name.errors }}
                        </div>
                        <div class="col-span-2">
                            <label for="{{ form.course.id_for_label }}" class="form-label mb-2">{{ form.course.label }}<span class="text-danger">*</span></label>
                            {{ form.course }}
                            {{ form.course.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-7">
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </form>
    </div>
{% endblock content %}
    