{% extends 'base_site.html' %}

{% block title %}All Teachers | Unisync{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <a href="{% url 'home' %}" class="text-gray-600 hover:text-primary">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Teachers</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <div class="text-right">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file">
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
        </div>
    </div>
{% endblock content %}
    