{% extends 'base_site.html' %}

{% block title %}Add Fees | Unisync{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <a href="{% url 'dashboard' %}" class="text-gray-600 hover:text-primary">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Add Fees</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <form method="post">
            {% csrf_token %}
            <div class="grid grid-cols-3 gap-5">
                <div class="col-span-1">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Course and Due Date</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-span-1">
                                <div>
                                    <label for="id_title" class="form-label mb-2">Title <span class="text-danger">*</span></label>
                                    <input type="text" name="title" class="input" id="id_title" placeholder="Title" required>
                                </div>
                                <div class="mt-5">
                                    <label for="id_due_date" class="form-label mb-2">Due Date <span class="text-danger">*</span></label>
                                    <input type="date" class="input" name="due_date" id="id_due_date" required>
                                </div>
                                <div class="mt-5">
                                    <label for="id_year" class="form-label mb-2">Academic Year <span class="text-danger">*</span></label>
                                    <select name="year" id="id_year" class="select" required>
                                        <option value="">Academic Year</option>
                                        {% for year in years %}
                                            <option value="{{ year.id }}">{{ year.start }} - {{ year.end }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mt-5">
                                    <label for="id_course" class="form-label mb-2">Course <span class="text-danger">*</span></label>
                                    <select name="course" id="id_course" class="select" required>
                                        <option value="">Select Course</option>
                                        {% for course in courses %}
                                            <option value="{{ course.id }}">{{ course.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2">
                    <div class="card card-grid ">
                        <div class="card-header">
                            <h3 class="card-title">Add Fees</h3>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Particular</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for particular in particulars %}
                                        <tr>
                                            <td class="py-0">{{ particular.name }}</td>
                                            <td class="py-0"><input type="number" name="part_{{particular.id}}" class="input" placeholder="Enter Amount"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-5 gap-3">
                <button type="reset" class="btn btn-secondary">CANCEL</button>
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </form>
    </div>
{% endblock content %}


{% block extra_js %}
    <script>
         $(document).ready(function () {
            function updateOptions() {
                let selectedValues = $(".select").map(function () {
                    return $(this).val();
                }).get().filter(val => val !== ""); 

                $(".select").each(function () {
                    let currentVal = $(this).val();
                    $(this).find("option").each(function () {
                        if ($(this).val() !== "" && selectedValues.includes($(this).val()) && $(this).val() !== currentVal) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                });
            }

            $("#addRow").click(function () {
                let newRow = `<div class="row flex gap-5 items-center mb-3">
                            <select class="select">
                                {% for particular in particulars %}
                                    <option value="{{ particular.id }}">{{ particular.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" class="input" placeholder="Enter value">
                            <button class="remove btn btn-danger" type="button">X</button>
                        </div>
                    </div>`;
                $("#container").append(newRow);
                updateOptions();
            });

            $(document).on("change", ".select", function () {
                updateOptions();
            });

            $(document).on("click", ".remove", function () {
                $(this).parent(".row").remove();
                updateOptions();
            });
        });
    </script>
{% endblock extra_js %}
    