{% extends 'base_site.html' %}

{% block title %}Add New Course | Unisync{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <a href="{% url 'home' %}" class="text-gray-600 hover:text-primary">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Add New Course</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <form method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">General Info</h3>
                </div>
                <div class="card-body">
                    <div class="grid grid-cols-2 gap-5">
                        <div class="col-span-2">
                            <label for="{{ form.name.id_for_label }}" class="form-label mb-2">{{ form.name.label }}<span class="text-danger">*</span></label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="col-span-2">
                            <label for="{{ form.code.id_for_label }}" class="form-label mb-2">{{ form.code.label }}<span class="text-danger">*</span></label>
                            {{ form.code }}
                            {{ form.code.errors }}
                        </div>
                        <div class="col-span-2">
                            <label for="{{ form.department.id_for_label }}" class="form-label mb-2">{{ form.department.label }}<span class="text-danger">*</span></label>
                            {{ form.department }}
                            {{ form.department.errors }}
                        </div>
                        <div class="col-span-1">
                            <label for="{{ form.max_year.id_for_label }}" class="form-label mb-2">{{ form.max_year.label }}<span class="text-danger">*</span></label>
                            {{ form.max_year }}
                            {{ form.max_year.errors }}
                        </div>
                        <div class="col-span-1">
                            <label for="{{ form.max_month.id_for_label }}" class="form-label mb-2">{{ form.max_month.label }}</label>
                            {{ form.max_month }}
                            {{ form.max_month.errors }}
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="text-right mt-7">
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </form>
    </div>
{% endblock content %}
    